html {
  padding: 0;
  margin: 0;

  -webkit-text-size-adjust: none;
  touch-action: manipulation;
}

.title {
  position: fixed;
  top: 48px;
  left: 48px;
  display: flex;
  align-items: center;
}

.title h1 {
  font-size: 32px;
  color: white;
  padding-top: 12px;
  padding-left: 12px;
}

.title img {
  height: 64px;
  width: auto;
}

.content {
  width: 400px;
  height: 680px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content div.control {
  display: flex;
  width: 400px;
  height: 160px;
  align-items: center;
  justify-content: center;
}

.content input {
  display: none;
}

.gameboy {
  height: 480px;
  width: 300px;
  position: relative;
  background: #eee;
  border-radius: 10px 10px 50px 10px;
  overflow: hidden;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
  /*cursor: pointer*/
}
.gameboy:before {
  position: absolute;
  width: 500px;
  height: 20px;
  border-bottom: 3px solid #e0e0e0;
  content: "";
}
.gameboy:after {
  position: absolute;
  width: 240px;
  height: 20px;
  left: 24px;
  border-left: 3px solid #e0e0e0;
  border-right: 3px solid #e0e0e0;
  content: "";
}
.screen {
  position: absolute;
  width: 252px;
  height: 188px;
  left: 24px;
  top: 40px;
  background: #777;
  border-radius: 5px 5px 40px 5px;
}
canvas.game {
  background: #aec5a0;
  position: absolute;
  top: 22px;
  left: 48px;
}
.led {
  position: absolute;
  height: 8px;
  width: 8px;
  top: 107px;
  left: 42px;
  border-radius: 100%;
  box-shadow: 1px 1px 0 #400 inset;
  background: #600;
  content: "";
}

.pad {
  position: absolute;
  width: 26px;
  height: 80px;
  top: 296px;
  left: 50px;
  background: #444;
  border-radius: 3px;
  z-index: 998;
}
.pad:after {
  position: absolute;
  width: 80px;
  height: 26px;
  top: 26px;
  left: -26px;
  background: #444;
  border-radius: 3px;
  content: "";
  z-index: 999;
}
.pad:before {
  position: absolute;
  height: 26px;
  width: 26px;
  top: 26px;
  border-radius: 100%;
  background: #333;
  content: "";
  z-index: 1000;
}

.up {
  position: absolute;
  width: 46px;
  height: 50px;
  top: 276px;
  left: 40px;
  border-radius: 3px;
  z-index: 998;
}

.down {
  position: absolute;
  width: 46px;
  height: 50px;
  top: 350px;
  left: 40px;
  border-radius: 3px;
  z-index: 998;
}

.right {
  position: absolute;
  width: 46px;
  height: 50px;
  top: 310px;
  left: 78px;
  border-radius: 3px;
  z-index: 998;
}

.left {
  position: absolute;
  width: 46px;
  height: 50px;
  top: 310px;
  left: 8px;
  border-radius: 3px;
  z-index: 998;
}

.hole {
  position: absolute;
  height: 46px;
  width: 6px;
  top: 436px;
  left: 190px;
  border-radius: 2px;
  background: #ddd;
  -webkit-transform: rotate(-30deg);
  box-shadow: 0px 0px #ddd, 17px 0px #ddd, 34px 0px #ddd, 51px 0px #ddd,
    68px 0px #ddd, 85px 0px #ddd;
  content: "";
}
.buttonB {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 322px;
  right: 69px;
  border-radius: 100%;
  background: #a93671;
}

.buttonA {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 300px;
  right: 24px;
  border-radius: 100%;
  background: #a93671;
}

.buttonSelect {
  position: absolute;
  height: 40px;
  width: 12px;
  bottom: 52px;
  left: 102px;
  background: #999;
  border-radius: 10px;
  -webkit-transform: rotate(63deg);
  cursor: pointer;
}

.buttonStart {
  position: absolute;
  height: 40px;
  width: 12px;
  bottom: 58px;
  left: 156px;
  background: #999;
  border-radius: 10px;
  -webkit-transform: rotate(63deg);
  cursor: pointer;
}

.github-link {
  position: fixed;
  bottom: 68px;
  right: 68px;
  color: black;
  text-decoration: none;
}

.nes-octocat {
  position: absolute;
  top: 88px;
  left: 170px;
}

.nes-select {
  width: 160px;
  margin-left: 16px;
}

@media screen and (max-width: 780px) {
  .title {
    display: none;
  }

  .github-link {
    display: none;
  }
}
